<ul class="list-group">
<%
Emerald::DB.db.query("SELECT * FROM posts") do |rs|
  rs.each do
    id = rs.read(Int)
    title = rs.read(String)
    author = rs.read(String)
    hook = rs.read(String)
    body = rs.read(String)
    date = rs.read(Int)
    sdate = Time.epoch(date).to_s("%d %B %Y")
%>

  <li class="list-group-item"><a href=/blog/<%= id %>><%= title %></a> by <%= author%> on <%= sdate %>
    <br><%= hook %>
  </li>

<%
  end
end
%>
</ul>