<% posts.each do |post| 
date = Time.epoch(post.date).to_s("%B %d, %Y") %>
<ul class="list-group">
  <li class="list-group-item"><a href=/<%= post.id %>/<%= post.title.strip.downcase.gsub /\W+/, '-' %>><%= post.title %></a> by <%= post.author%> on <%= date %>
    <br><%= post.hook %>
  </li>
</ul>
<% end %>