<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= title %></h1>
    <p class="lead"><%= author %> | <%= date %></p>
  </div>
</div>

<div class="container">
  <%= Markdown.to_html(body) %>
</div>