<header class="banner">
  <div class="overlay">
    <div class="container">
      <div class="post">
        <h1><%= title %></h1>
        <h2><%= hook %></h2>
        <h3>by <a href="/user/<%= aid %>"><%= author %></a> on <%= date %></h3>
      </div>
    </div>
  </div>
</header>

<article class="post">
  <div class="container">
    <%= Remarkdown.to_html(body) %>
  </div>
</article>