<header class="banner">
  <div class="overlay">
    <div class="container">
      <div class="post">
        <h1><%= title %></h1>
        <h2><%= Remarkdown.to_html(hook) %></h2>
        <h3>by <a href="#AID"><%= author %></a> on <%= date %></h3>
      </div>
    </div>
  </div>
</header>

<div class="container" style="margin-top: 20px">
  <%= Remarkdown.to_html(body) %>
</div>